# VS CODE CONFIGURATION FILES
.vscode
**/.vscode
/_est_venv
/_dev_venv
/autobilz
/_autobill
/archive
*.pdf
*.jpeg
*.jpg
*.tiff
*.png
*.csv
**/__pycache__
**/Testing - 2022-03-15
**/Renaming - 2022-03-16